<template>
<div>
	<p>test</p>	
		<p>{{ XDDD }}</p>
		<input v-model="XDDD">
		<button v-on:click="reverseMessage">Reverse Message</button>
		
		<h1>{{ cislo }}</h1>
		<button v-on:click="pridaniHodnoty">+1</button>

		<h2>Take a picture!</h2>
		<div class="camera">
    		<video id="video">{{ video }}</video>
    		<button id="startbutton">Take photo</button>
  		</div>	
  		<canvas id="canvas">
  		</canvas>
  		<div class="output">
    		<img id="photo" alt="The screen capture will appear in this box."> 
		</div>
</div>
</template>

<script>

	export default {
		name:'HomePage',

		data () {		
			return {
				XDDD: "Reverse message",
				cislo: 1,

				width: 320,
				height: 0,

				streaming: false,

				video: null,
				canvas: null,
				photo: null,
				startbutton: null
			}
		},

		methods: {
    		reverseMessage: function() {
      			this.XDDD = this.XDDD.split('').reverse().join('');
   			},
   			pridaniHodnoty: function(){
   				this.cislo = this.cislo + 1;
   			},
   			/*startUp: function(){
   				console.log('dx');
   				this.video = document.getElementById('video');
   				this.canvas = document.getElementById('canvas');
    			this.photo = document.getElementById('photo');
				this.startbutton = document.getElementById('startbutton');

				navigator.getMedia = (
					navigator.getUserMedia ||
                    navigator.webkitGetUserMedia ||
                    navigator.mozGetUserMedia ||
					navigator.msGetUserMedia);


				navigator.getMedia(
					{
						video: true,
						audio: false
					},
					function(stream){
						if(navigator.mozGetUserMedia){
							video.mozSrcObject = stream;
						} else {
							var vendorURL = window.URL || window.webkitURL;
							this.video.src = vendorURL.createObjectURL(stream);
						}
						this.video.play();
					},
					function(err){
						console.log("An error occured! " + err);
					}
				)},*/
			camTest: function(){
				console.log('Hello');
				
				navigator.getMedia = (
					navigator.getUserMedia ||
                    navigator.webkitGetUserMedia ||
                    navigator.mozGetUserMedia ||
					navigator.msGetUserMedia);

				navigator.getMedia(
				{
					video: true, audio: false
				},

				function(mediaStream){
					this.video = document.getElementsByTagName('video')[0];
					video.src = window.URL.createObjectURL(mediaStream);
					video.play();
				},
				function(error){
					console.log(error);
				})
			}  			
  		},
  		created: function(){
   				//this.startUp();
   				this.camTest();
   		}

	}		
</script>

<style>
	#video{
		border: inset;
		border-radius: 10px;
	}
</style>